*{
	margin: 0;
	padding: 0;
}
body {
	background-color: darkblue;
	font-family: 'Poppins', sans-serif;
}

.cabecalho{
	background: #FFFFFF;
	padding: 40px;
}

h1 {
	text-align: center;
		color: rgb(200,120,150)
}
